
.fa{
    margin-right: 20px!important;
    font-size:1em;
}
body{
    background:url("../fiat/assets/Fondo.png")!important;
    background-color: transparent;
}
.layer{
        position: absolute;
        z-index:1;
        background:url("../fiat/assets/Fondocopia(1).png")!important;
        height: 100%;
        width: 100%;
        top:40%;
    
}
.above{    z-index: 2;
    background: white;
    position: relative;
}
.transp{
    background: transparent;

}
.text-white{
    color:white!important;
}
.black{
    color:black;
}
.small{
    font-size:48px!important;
}
.btn-primary{
    background:black;
    border:white;
    font-size:1.3em;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: white;

}

.btn-primary:hover{
    background:white;
    border-color:black;
    color:black;
    border-style: solid;
    border-width: 1px;

}
.btn-primary:active{
    background:white;
    border:black;
    color:black;
    border-style: solid;
    border-width: 1px;

}
.send{
    padding:10px 20px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    position: relative;
    bottom: -30px;
    left: 78%;    
}

.nav>li>a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing:2px;
    font-weight: bold;
    margin: 0 9px;
}



@media (max-width: 480px) {
    .car{
        
    POSITION: relative;
    TOP: -19px;
    Z-INDEX: 2;

    }
    .btn-primary {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 12px;
    }
    h5{
        font-size:9px!important;
        font-family: "Latto"!important;
        text-transform: uppercase;
        letter-spacing: 3px;


    }

    
    h4{
        font-size:34px!important;
        font-style: italic;
        font-weight: bold;
        font-family: "Playfair Display"!important;
        
       
        
    }
    h3{
        font-size: 9px!important;
        font-family: "Lato"!important;
        font-weight: bold;

    }
    h2{
        font-size:11px!important;
        font-weight: bold;
        font-family: "Playfair Display"!important;

    }
    h1{
        font-size:43px!important;
        font-family: "Playfair Display"!important;
        font-style: italic;
        font-weight: bold;
    }
    label{
        font-size:12px;
    }

    body > nav > div > ul > li:nth-child(1) > a > img{
        position: absolute;
        left: -20px;
    }
    
    body > nav > div > ul > li:nth-child(7) > a > img {
        
        position: absolute;
        right: 10px;
        top: -4px;}
    .btn-primary{
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-fiat{
        padding-left: 20px;
    padding-right: 20px;
    }
    .logo-ref{
        position: absolute;
        top: -41px;
    }
    body > nav > div > ul > li:nth-child(6){
        display:none;
    }
    body > nav > div > ul > li:nth-child(5){
        display:none;
    }
    body > nav > div > ul > li:nth-child(4){
        display:none;
    }
    body > nav > div > ul > li:nth-child(3){
        display:none;
    }
    body > nav > div > ul > li:nth-child(2){
        display:none;
    }
    h2{
        font-size: 15px;
    }
    .send{
        padding:10px 20px;
        border-width:2px;
        border-style:solid;
        border-color:black;
        position: relative;
        bottom: 20px;
        left: 65%!important;    
    }
    .car img{
        width:200px;
    }

}

 


@media (min-width: 768px) and (max-width: 1024px) {
  
    body > nav > div > ul > li:nth-child(6) > a{
        display:none!important;
    }
    .nav>li>a {
        letter-spacing: 0px!important;}
    
    .nav>li>a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin: 0 9px;
    }
    .logo{
        left: -95px!important;
    }
    .centered-ul{
        margin-left:8%!important;

    }
    .above{
        margin-left: 15px;
        margin-right: 15px;
    }
    .layer{
        position: absolute;
        z-index:1;
        background:url("../fiat/assets/fondotablet.png")!important;
        height: 100%;
        width: 100%;
        top:70%!important;
    
    }
}
@media (min-width: 768px) {
    
body > nav > div > ul > li:nth-child(7) > a > img {
        
    position: absolute;
    left: 4vw;
}

    .logo-ref{
        margin: 0;
    padding: 0!important;
    position: absolute!important;

    }

    .logo{
        max-height: 140px;
    margin: 0px;
    padding: 0px;
    left: -150px;;
    display: unset;
    position: absolute;
    }

    textarea { height: 100px!important; }

    .space{
        margin-top:40px;
        margin-bottom: 10px;
    }
    .car{
        POSITION: ABSOLUTE;
        TOP: -200px;
        Z-INDEX: 2;
    }
    .down-space{
        PADDING-BOTTOM: 174PX;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
       
    }
    
    .centered-ul{
        margin-left: 24%;
    }
    .form-fiat{
        padding-left:12vw;
        padding-right:12vw;
        padding-top:100px;
        padding-bottom:40px;
    }
    h3{
        font-size: 9px!important;
        font-family: "Lato"!important;
        font-weight: bold;

    }
    h2{
        font-size:18px!important;
        font-weight: bold;
        font-family: "Playfair Display"!important;

    }
    h5{
        font-size:18px!important;
        font-family: "Latto"!important;
        text-transform: uppercase;
        letter-spacing: 3px;


    }
   
    h1{
        font-size:110px!important;
        font-style: italic;
        font-weight: bold;
        font-family: "Playfair Display"!important;
        
    }

    h4 span { 
        background:white; 
        padding:0px 20px; 
    }
    h4{
        font-size:48px!important;
        font-style: italic;
        font-weight: bold;
        font-family: "Playfair Display"!important;
        
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 30px 30px 30px 30px; 
        
    }
    label{
        font-size:13px;
        color:#666666;
        font-family: "Lato"!important;
        letter-spacing: 3px;

    }
  }
